body{
    margin: 0;
    /* font-family: roboto; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.hero{ 
    height:350px;
    background-color: #1f2937;
    margin-bottom: 25px;
}

.header{
display: flex;
justify-content: space-evenly;
padding: 15px;
margin-bottom: 0px;
gap: 200px;
}

.container{
display: flex;
justify-content:space-evenly;
align-items: center;
flex-shrink: 0;

}

.text{
width: 360px;
}

ul{
display: flex;
margin: 0;
padding: 0;
list-style-type: none;
gap: 10px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

img{
   width: 370px;
   height: 200px;
}

button{
    background-color: #3882f6;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
}

.head{
    color: #E5E7EB;
    font-size: 48px;
    font-weight: 900;
}

.writing{
    font-size: 18px;
    color:#f9faf8;
    margin-bottom: 10px;
}

/* Part 2 */


.title{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 25px;
}

.city{
    height:350px;
}

.nyc{
    display: flex;
    justify-content: center;
    gap:52px;
    text-align: center;
    
}

.group img{
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 5px;
    border-color: #3882f6;
    border-radius: 10px;
    margin-bottom: 7px;
}

.group{
    max-width: 200px;
}

.description{
    font-weight: 900;
    font-style:italic ;
}
/* Part 3 */

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: #E5E7EB; 
   height: 350px;
  
}

.office{
width: 650px;
}


.jim{
    font-size: 36px;
    font-weight: lighter;
    font-style:italic;
    color:#1f2937;
    margin-bottom: 15px;
}

.pam{
    display: flex;
    justify-content: end;
    font-size: 36px;
    font-style: italic;
    color:#1f2937;
   font-weight: 900;
}

/* Part 4*/

.action{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#3882f6 ;
    height: 100px;
    width: 800px;
    border-radius: 7px;
}

.call{
    color: white;
    font-weight: 900;
}

.sign{
    color: white;
    font-weight: 100;
}

.up{
    
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 7px;
}
